:root {
  --bg-color: rgb(216, 216, 216);
  --inverted-bg-color: rgb(2, 2, 5);

  --primary-color: #0d1d7a;
  --secondary-color: #002fff;
  --inverted-primary-color: #cecece;
  --inverted-secondary-color: rgb(131, 131, 131);
}
